#aboutUs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  overflow: hidden;
  padding: 160px 186px 80px;
}

#supportText {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bolder;
  margin-top: 250px;
  font-size: 50px;
}

#supportText .circle {
  font-size: 2.7rem;
  margin-top: 20px;
  margin-left: 15px;
}

#heading {
  font-family: 'Cormorant Garamond', serif;
  font-size: 4.5rem;
  margin-top: 55px;
}

h2 .circle {
  font-size: 4rem;
  display: inline;
  margin-left: 15px;
}

#whoWeAre {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  font-size: 45px;
	margin: 200px 0 100px;
}

.supportTextDesc {
  padding-right: 5px;
}


#decription {
	width: 75%;
}