#aboutUs {
	position: relative;
	top: 190px;
	height: 2000px;
}
#supportText {
	font-family: "Cormorant Garamond", serif;
	font-weight: bolder;
}
#heading {
	font-family: "Cormorant Garamond", serif;
	font-weight: 600;
	font-size: 60px;
}

h2 .circle {
	margin: 0 0px;
	color: grey;
	font-weight: 100;
}

#whoWeAre {
	font-family: "Cormorant Garamond", serif;
	font-weight: 200;
	font-size: 45px;
}
