#enquiry {
  display: flex;
  height: 900px;
  flex-direction: column;
  align-items: center;
  justify-content: center;;
}

#enquiry h2, #enquiry h3 {
  font-family: 'Cormorant Garamond', serif; 
}

#enquiry .letsChat {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 0;
}

#enquiry h3 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

#enquiry .content {
  display: flex;
  justify-content: center;
  width: 75%;
}
