#enquiryForm {
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

#enquiryForm form {
  display: flex;
  flex-direction: column;
}

#enquiryForm label {
  display: block;
  font-size: 0.7rem;
  margin: 7px 0;
  font-weight: 600;
}

#enquiryForm input,
#enquiryForm textarea {
  width: 100%;
  border-radius: 15px;
  padding: 5px 8px;
  border: 2px solid black;
}
#enquiryForm input:focus,
#enquiryForm textarea:focus {
  outline: none !important;
  border: 2px solid #f18639;
}

#enquiryForm textarea {
  resize: none;
  height: 150px;
}

#enquiryForm .inlineInputs {
  display: flex;
  gap: 20px;
}

#enquiryForm .formRow {
  margin: 5px 0;
}

#enquiryForm button {
  align-self: flex-end;
}

.inlineInputs div {
  width: 100%;
}
