#enquiryForm {
  margin-right: 60px;
}

#enquiryForm label {
  display: block;
  font-size: 0.7rem;
  margin: 7px 0;
}

#enquiryForm input, #enquiryForm textarea {
  width: 100%;
  border-radius: 15px;
  padding: 5px 8px;
  border: 2px solid black;
}

#enquiryForm textarea {
  resize: none;
  height: 150px;
}

#enquiryForm .inlineInputs {
  display: flex;
  gap: 20px;
}

#enquiryForm .formRow {
  margin: 20px;
}