#highlightCase {
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 186px;
}

#highlightCase .swiperDiv {
  width: 100%;
  margin: 30px 0 80px;
}

#highlightCase .swiper {
  border: 2px solid #1B1728;
  border-radius: 220px;
  transition: border 0.05s linear, box-shadow 0.05s linear;
}

#highlightCase .case {
  width: 99%;
  background-color: white;
  height: 470px;

  transition: border 0.2s linear;

  display: flex;
  align-items: center;
  justify-content: center;
}

#highlightCase .swiper:hover {
  border: 3px solid #676a46;
  box-shadow: 0 0 6px 4px #676a467d
}

#highlightCase .slide img {
  width: 100%;
}

#highlightCase .slide .case1 {
  /* border-radius: 90px; */
}

#highlightCase .slide .case2 {
  /* border-radius: 300px; */
}

#highlightCase .slide .case3 {
  /* border-radius: 200px; */
}

#highlightCase .slide .case4 {
  /* border-radius: 400px; */
}

/***************************************************/
/****************** MEDIA QUERIES ******************/
/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #highlightCase {
    height: 700px;
    padding: 0 20px;
  }

  #highlightCase .swiperDiv {
    width: 90%;
    margin-bottom: 10px;
  }

  #highlightCase .case {
    height: 280px;
  }

  #highlightCase .swipeText {
    margin: 50px auto;
    text-align: center;
    color: #b8a28a;
  }
}

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  #highlightCase {
    height: 500px;
    padding: 0 10px;
  }

  #highlightCase .swiperDiv {
    width: 95%;
    margin-bottom: 10px;
  }

  #highlightCase .case {
    height: 220px;
  }

  #highlightCase .slide img {
    width: 110%;
  }

  #highlightCase .swipeText {
    margin: 50px auto;
    text-align: center;
    color: #b8a28a;
  }
}
