#highlightCase {
  background-color: rgb(221, 221, 221);
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#highlightCase .swiper {
  width: 90%;
}

#highlightCase .case {
  background-color: white;
  height: 450px;
  border-radius: 220px;

  display: flex;
  align-items: center;
  justify-content: center;
}
