#services {
  text-align: center;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 186px;
}

#services .heading {
  margin-bottom: 40px;
}

#services .summary {
  width: 70%;
  margin: 0 auto;
  line-height: 30px;
}

#services .logos,
.list {
  display: flex;
  justify-content: space-between;
  margin: 90px auto 0;
  width: 90%;
}

#services .block {
  height: 80px;
  width: 150px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#services .logo {
  display: flex;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

#services .list {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.25rem;
  text-align: left;
}

#services ul {
  padding-left: 0;
}

#services li {
  list-style: none;
  font-weight: 500;
}

#services .woo {
  width: 100px;
}

/***************************************************/
/****************** MEDIA QUERIES ******************/
/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #services {
    height: 750px;
    padding: 0 20px;
  }

  #services .summary {
    width: 75%;
  }

  #services .woo {
    width: 80%;
  }

  #services .logos {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  #services .list {
    font-size: 1rem;
    margin-top: 20px;
  }

  #services .list li {
    margin: 8px 0;
  }
}

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  #services {
    height: 1150px;
    padding: 0 10px;
  }

  #services .logos {
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  #services .list {
    margin-top: 20px;
  }
  
  #services .list li {
    margin: 8px 0;
  }
}
