#services {
  text-align: center;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#services .heading {
  margin-bottom: 40px;
}

#services .summary {
  width: 60%;
  margin: 0 auto;
  line-height: 30px;
}

#services .logos,
.list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 90px;
}

#services .block {
  height: 80px;
  width: 150px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#services .logo {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

#services .list {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.7rem;
  text-align: left;
}

#services ul {
  padding-left: 0;
}

#services li {
  list-style: none;
  font-weight: 500;
}

#services .woo {
  width: 120px;
}