#teamMembers {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#teamMembers .heading {
  margin-bottom: 60px;
}

#teamMembers .teamPhotos {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 90%;
  height: 550px;
}

#teamMembers .teamPhotos .photo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(221, 221, 221);
  border-radius: 150px;
  height: 330px;
  width: 240px;
}

.photo2,
.photo4 {
  align-self: flex-end;
}

#teamMembers h4 {
  font-size: 1.5rem;
  font-family: 'Cormorant Garamond', serif; 
  margin-bottom: 0;
}

#teamMembers p {
  margin-top: 0;
}

.p1 {
  background-image: url(../images/teamPhoto/ankita.jpeg);
  background-size: cover;
  border: 2px solid #dd6c90;
  transition: box-shadow 0.2s linear;
}

.p1:hover {
  box-shadow: 0 0 6px 3px rgb(182, 182, 182);
}

.p2 {
  background-image: url(../images/teamPhoto/esther.png);
  background-size: cover;
  border: 2px solid #5c69b8;
  transition: box-shadow 0.2s linear;
}

.p2:hover {
  box-shadow: 0 0 6px 3px rgb(182, 182, 182);
}

.p3 {
  background-image: url(../images/teamPhoto/inano.jpeg);
  background-size: cover;
  border: 2px solid #676a46;
  transition: box-shadow 0.2s linear;
}

.p3:hover {
  box-shadow: 0 0 6px 3px rgb(182, 182, 182);
}

.p4 {
  background-image: url(../images/teamPhoto/tina.jpg);
  background-size: cover;
  border: 2px solid #f18639;
  transition: box-shadow 0.2s linear;
}

.p4:hover {
  box-shadow: 0 0 6px 3px rgb(182, 182, 182);
}

#teamMembers .swipeText {
  color: #B8A28A;
  margin-top: 50px;
}

/***************************************************/
/****************** MEDIA QUERIES ******************/
/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #teamMembers {
    height: 700px;
  }

  #teamMembers .swiper {
    width: 100%;
  }

  #teamMembers .teamMember1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #teamMembers .p1,
  #teamMembers .p2,
  #teamMembers .p3,
  #teamMembers .p4 {
    border-radius: 200px;
    height: 350px;
    width: 35%;
  }
}

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 480px) {
}
