#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  border-top: 1px solid #b8a28abb;
}

#footer .logo {
  font-size: 2rem;
  margin-left: 40px;
}

#footer .socials {
  display: flex;
}

#footer .socials {
  display: flex;
  margin-right: 20px;
}

#footer a {
  margin: 5px 20px;
}

#footer .socials img {
  width: 25px;
}

#footer .logo img {
  width: 100px;
}
